fastapi==0.100.0
uvicorn==0.23.2
langchain==0.3.7
faiss-cpu==1.7.4
beautifulsoup4==4.12.2
playwright==1.37.0
requests~=2.32.3
pandas
transformers~=4.46.3
torch
optimum[openvino]~=1.23.3
auto-gptq
parser-2gis
lxml
pydantic~=1.10.19
tqdm